@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&family=Pacifico&display=swap");

body,
html {
  font-family: "Manrope", sans-serif;
  max-width: 100%;
  /* overflow-x: hidden; */
}

section {
  overflow-x: hidden;
}

.m-0 {
  margin: 0;
}

.p-6 {
  padding: 6px;
}

html {
  scroll-behavior: smooth;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

iframe {
  border: 1px solid #aeaeae;
  border-radius: 10px;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* .logos:hover .logos-slide {
animation-play-state: paused;
} */

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 25px;
  margin: 0 40px;
}
.custom-navbar {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background: white;
  border-radius: 10px;
  height: 62px;
  margin-top: 32px;
  margin-left: 34px;
  margin-right: 34px;
}

.custom-navbar .container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.form-inline .btn-outline-secondary {
  color: #000;
  border: none;
}

.form-inline .dropdown-menu {
  right: 0;
  left: auto;
  float: right;
}

.form-inline .dropdown-menu {
  border-radius: 8px;
  margin-top: 18px;
}

.form-inline .dropdown-item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.form-inline .dropdown-item:hover {
  background-color: #e0ecef;
}

.form-inline .dropdown-item:active {
  background-color: #e0ecef;
}

button.btn.btn-primary.dropdown-toggle.signup-button:active {
  background-color: #3a7792;
}

button.btn.btn-primary.dropdown-toggle.signup-button:hover {
  background-color: #3a7792;
}

button.btn.btn-primary.dropdown-toggle.signup-button:focus {
  background-color: #3a7792;
}

.sticky-top {
  top: 8px;
}

.custom-navbar .nav-link {
  color: #151515;

  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  position: relative;
  display: inline-block;
}

.custom-navbar .nav-item {
  /* width: 78px; */
  height: 22px;
  padding: 0px 8px;
}
.custom-navbar .nav-link:after {
  position: absolute;
  left: 50%;
  content: "";
  height: 2px;
  background: #294a5d;
  transition: all 0.2s linear;
  width: 0;
  bottom: -3px;
}
.custom-navbar .nav-link:hover:after {
  width: 100%;
  left: 0px;
}

.custom-navbar .nav-link:hover {
  color: #294a5d;
  font-weight: 700;
  transition: all 0.2s linear;
}

.custom-navbar a.nav-link {
  padding: 0;
  width: 90px;
}

.custom-navbar ul.navbar-nav.mr-auto {
  gap: 16px;
}
.signup-button {
  background: #4b97b8;
  border-radius: 8px;
  color: white;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

/* Responsive styles for mobile */
@media (max-width: 991.98px) {
  .custom-navbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 25px;
    border-radius: 0;
  }

  .custom-navbar .container {
    background: white;
  }

  .sticky-top {
    top: 0;
  }

  .navbar-brand {
    text-align: center;
    border: none;
    background: transparent;
  }

  .navbar-toggler {
    float: right;
  }

  .nav-link {
    font-family: "Nanum Myeongjo", serif;
    font-size: 32px;
    line-height: 22px;
  }

  .navbar-collapse {
    background: white;
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px;
    text-align: center;
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 20px 1rem;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .custom-navbar ul.navbar-nav.mr-auto {
    align-items: center;
    margin-bottom: 24px;
    gap: 32px;
  }

  .custom-navbar .nav-link {
    font-size: 32px;
  }

  .custom-navbar a.nav-link {
    width: 100%;
  }

  .form-inline {
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .form-inline .btn-outline-secondary {
    color: #4b97b8;
    border: 1px solid;
    border-color: #4b97b8;
  }

  .form-inline .nav-link,
  .form-inline .btn {
    width: 100%;
    margin: 5px 0;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }

  .navbar-toggler-icon.open {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="3" d="M4 7l22 22M4 29L26 7"/%3E%3C/svg%3E');
  }
}

.hero-section {
  background: url("./bg.png") no-repeat center center; /* Replace with your image path */
  background-size: cover;
  height: 80vh;
  padding: 100px 0; /* Adjust padding to fit your design */
  margin: 24px;
  margin-bottom: 0px;
  margin-top: -70px;
  border-radius: 20px;
  display: flex;
  align-items: end;
}

@media (max-width: 991.98px) {
  .hero-section {
    margin-top: 0;
  }

  .hero-text {
    font-size: 24px !important;
    line-height: 32px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.hero-text {
  color: #ffffff; /* Replace with your desired text color */

  margin-bottom: 20px; /* Space for the buttons */
  font-family: "Nanum Myeongjo", serif;
  font-size: 56px;
  line-height: 72px;
  margin-left: 72px;
  margin-right: 72px;
}

.btn-primary {
  background-color: #4b97b8;
  font-size: 14px;
  line-height: 22px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border: none;
}

.btn-outline-secondary {
  font-size: 14px;
  line-height: 22px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #3a7792;
}

.btn-outline-secondary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.hero-buttons .btn-primary,
.hero-buttons .btn-outline-secondary {
  margin-right: 10px; /* Space between buttons */
}

.hero-logos {
  gap: 64px;
}

.hero-logos img {
  height: 25px; /* Adjust to your logo size */
  margin: 0 10px; /* Space between logos */
  opacity: 0.5; /* Logos less prominent */
  transition: opacity 0.3s ease-in-out;
}

.hero-logos img:hover {
  opacity: 1; /* Full color on hover */
}

.section-title {
  color: #151515;
  font-size: 48px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}

.footer-title {
  color: #151515;
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}

.section-title-white {
  color: #ffffff;
  font-size: 48px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 500;
  line-height: 72px;
  word-wrap: break-word;
}

.statistics-section .card {
  background-color: #efefef; /* White background */
  border-radius: 16px; /* Rounded corners */
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  max-height: 358px;
  border-radius: 20px;
  border: 1px solid #294a5d;

  background: #efefef;
}

.statistics-section .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.statistics-section .card-number {
  font-size: 80px; /* Large number size */
  line-height: 109.28px;
  color: #294a5d; /* Text color for the numbers */
  font-weight: 500;
}

.statistics-section .card-number-text {
  font-size: 24px; /* Large number size */
  line-height: 32.78px;
  color: #000; /* Text color for the numbers */
  font-weight: 400;
}

.statistics-section .card-subtitle {
  font-size: 1rem; /* Subtitle size */
  color: #6c757d; /* Subtitle color */
  margin-bottom: 1rem;
}

.statistics-section .card-text {
  color: #333333; /* Dark grey color for the text */
  font-size: 18px; /* Larger font size for the title */
  font-weight: bold;
  margin-bottom: 16px;
  text-align: start;
  font-size: 30px;
  line-height: 40.98px;
}

.space {
  margin-bottom: 48px !important;
}

.statistics-section .card-info {
  color: #666666; /* Medium grey for the info text */
  font-size: 14px; /* Smaller font size for the info text */
  margin-bottom: 24px;
  text-align: start;
}

.statistics-section .icon-image {
  width: 85px; /* Adjust the size as needed */
  height: auto;
  margin-top: 16px;
  align-self: end; /* Center the icon horizontally */
}

.testimonial-section {
  background-color: #e0ecef; /* Adjust to match the image background */
  padding-top: 100px;
}

.testimonial-section h2 {
  color: #333; /* Title color */
  margin-bottom: 0; /* No bottom margin */
}

.testimonial-card {
  background: white;
  padding: 2rem;
  margin: 1rem 0;
  border: none;
  height: 271px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.03); /* Scale card on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.testimonial-card blockquote {
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  quotes: "“" "”" "‘" "’";
}

.testimonial-card blockquote::before {
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #333; /* Quote marks color */
}

.testimonial-card blockquote::after {
  content: close-quote;
}

.testimonial-card p {
  margin-top: 20px;
  margin-bottom: 10px;
}

.testimonial-footer {
  display: flex;
  justify-content: flex-end; /* Align HSBC logo to the right */
  align-items: center;
  margin-top: 1.5rem;
  gap: 15px;
}

.line {
  border: 0.5px solid lightgrey;
  width: 100%;
}

.testimonial-logo {
  width: 100px; /* Logo size */
  height: auto;
}

.request-demo-section {
  background-color: #e9ebdc; /* Match the background color to your image */
  color: #333; /* Text color */
}

.request-demo-section h2 {
  color: #333; /* Title color */
}

.request-demo-section form {
  background-color: #fff; /* Form background */
  padding: 3rem;
  border-radius: 8px; /* Match to your image's form style */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.request-demo-section .form-control {
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #ebebeb;
}

.request-demo-section .btn-demo {
  background-color: #88c057; /* Button color */
  border: none;
  border-radius: 20px; /* Rounded button edges */
  padding: 0.75rem 2rem; /* Button padding */
  color: white; /* Text color */
  margin-top: 1rem; /* Space above the button */
  transition: background-color 0.3s ease;
}

.request-demo-section .btn-demo:hover {
  background-color: #79ad49; /* Slightly darker on hover */
}

.request-demo-section label {
  font-weight: normal; /* Adjust label font weight as needed */
}

.footer-section {
  background-color: #f5f5f5; /* Adjust to match the image */
  color: #333; /* Adjust text color as needed */
}

.footer img {
  margin-right: 16px;
}

.footer p {
  margin-bottom: 24px;
}

.footer-section h4 {
  color: #333; /* Title color */
  margin-bottom: 1rem;
}

.footer-section p {
  font-size: 0.9rem; /* Adjust font size as needed */
  margin-bottom: 0.5rem; /* Spacing between lines */
}

.footer-section p i {
  margin-right: 0.5rem; /* Space between icon and text */
}

.footer-section .text-center {
  margin-top: 2rem; /* Space above the copyright text */
}

.footer-section a {
  color: #333; /* Link color */
  text-decoration: none; /* No underline */
  margin: 0 0.5rem; /* Spacing between links */
}

.services-section {
  background-color: #294a5d;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control::placeholder {
  color: #b5b8bd;
}

.center {
  justify-content: center;
}

.news .swiper-slide .card {
  height: 480px;
  width: 338.76px;
  background: none;
  border: none;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.2);
}

.news .swiper-slide .card img {
  background: lightgray 50%;
  height: 480px;
  width: 338.76px;
  border-radius: 8px;
}

.news .swiper {
  /* right: -300px; */
  height: 100%;
  width: 70vw;
}

.swiper-slide .card {
  height: 329px;
  width: 368px;
  background: none;
  border: none;
}

.swiper-slide .card img {
  height: 244px;
  border-radius: 8px;
}

.swiper-slide .card-title {
  color: white;
  font-size: 16px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  text-align: start;
}

.swiper-slide .card-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-family: Manrope;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  text-align: start;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-controls {
  display: flex;
  justify-content: flex-end;
  height: 46px;
  width: 80px;
}

.swiper-button-prev2,
.swiper-button-next2 {
  background: none;
  color: #000; /* This should be the color of your icons */
  border: none;
  cursor: pointer;
}

.swiper-button-next2:focus,
.swiper-button-prev2:focus {
  outline: none;
}

.swiper-button-prev2::after {
  font-size: 15px;
  border: 1.5px solid black;
  border-radius: 100px;
  padding: 10px 14px;
}

.swiper-button-next2::after {
  font-size: 15px;
  border: 1.5px solid black;
  border-radius: 100px;
  padding: 10px 14px;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  color: #ffffff; /* This should be the color of your icons */
  border: none;
  cursor: pointer;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-prev::after {
  font-size: 15px;
  border: 1.5px solid white;
  border-radius: 100px;
  padding: 10px 14px;
}

.swiper-button-next::after {
  font-size: 15px;
  border: 1.5px solid white;
  border-radius: 100px;
  padding: 10px 14px;
}

.test-top {
  position: relative;
  width: 100%;
  height: 78vh;
}

.shift {
  position: absolute;
  right: -500px;
  transition: all 1s ease;
  width: fit-content;
  display: flex;
}

.shift:hover {
  right: -100px;
  transition: all 1s ease;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.test::before {
  content: "Clients’\A Feedbacks";
  position: absolute;
  color: #294a5d;
  font-size: 48px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  line-height: 72px;
  right: -90px;
  white-space: pre;
  left: 0;
}

.test-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.test-2::before {
  content: "What the\A Employees Say";
  text-align: left;
  position: absolute;
  color: #294a5d;
  font-size: 48px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  line-height: 72px;
  right: -90px;
  white-space: pre;
}

.shift-2 {
  position: absolute;
  left: -500px;
  transition: all 1s ease;
  width: fit-content;
  display: flex;
}

.shift-2:hover {
  left: -75px;
  transition: all 1s ease;
}

/* Style for the container */
.award-cards-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap in the container */
  gap: 10px; /* Adjust as needed for spacing between cards */
}

/* Style for each card - Adjust width as needed */
.award-card {
  flex: 1 1 calc(50% - 10px); /* Sets the basis for two columns */
  box-sizing: border-box; /* Ensures padding and border are included in width */
}

/* Target the last card to center it if it is the only one in the row */
.award-cards-container :last-child:nth-child(odd) {
  flex-grow: unset;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* Existing CSS styles here... */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Responsive adjustments for mobile devices */
@media screen and (max-width: 768px) {
  .awards-section .row {
    display: flex;
    /* overflow-x: auto; */
    padding-bottom: 20px;
  }

  .awards-section .col-md-6 {
    flex: 0 0 auto; /* Adjust this to make each card fully visible */
  }

  .award-card {
    flex: 0 0 auto; /* Adjust this based on the width of each card */
    margin-right: 16px; /* Add some space between cards */
  }

  .line2 {
    border-bottom: 1px solid lightgrey;
    margin: 0px 10px;
    padding: 0;
  }

  .line3 {
    border-bottom: 1px solid lightgrey;
  }

  .pt-5 {
    padding-top: 3rem !important;
  }

  .award-cards-container {
    flex-wrap: nowrap; /* Prevents wrapping */
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

  .award-card {
    flex: 0 0 auto; /* Prevents cards from stretching */
    width: 80%; /* Adjust the width of cards on mobile */
  }

  .shift {
    position: relative;
    right: 0;
    left: 0;
    transition: none;
    flex-direction: row; /* Keep it horizontal */
    animation: marquee 15s linear infinite; /* Apply marquee animation */
  }

  .shift-2 {
    position: relative;
    right: 0;
    left: 0;
    transition: none;
    flex-direction: row; /* Keep it horizontal */
    animation: marquee2 15s linear infinite; /* Apply marquee animation */
  }

  /* Adjust other styles for mobile */
  .test,
  .test-2 {
    height: auto;
    padding-top: 50px;
  }

  .test::before,
  .test-2::before {
    content: attr(data-mobile-title); /* Use data attribute for title */
    font-size: 36px;
    line-height: normal;
    margin-bottom: 20px;
    top: 0 !important;
  }

  .testimonial-card {
    /* width: 100%; */
    margin: 0.5rem 0;
  }
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

/* Style for your buttons */
.btn-next,
.btn-submit-another {
  background-color: #adb96f;
  width: 200px;
  height: 46px;
  padding: 12px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

/* Styles for confirmation message */
.confirmation-message p {
  font-size: 1.25rem;
  text-align: center;
  margin: 20px 0;
}

.nav-tabs {
  display: flex;
  border: none;
  margin-bottom: 15px;
}

.nav-item {
  cursor: pointer;
  flex-grow: 1;
}

.spacer {
  width: 30px;
}

.nav-item h3 {
  font-size: 16px;
  color: #a9b7be;
  font-weight: 400;
  margin: 0;
  padding: 15px 0;
  border-top: 3px solid #a9b7be;
}

.nav-item.active h3 {
  color: #4b97b8;
  border-top: 3px solid #4b97b8;
}

.mt-12 {
  margin-top: 20px;
}

.mb-8 {
  margin-bottom: 72px;
}

.copyright {
  background: #f6f6f6;
  padding: 15px 100px;
  font-size: 14px;
}

.copyright-links {
  display: flex;
  gap: 24px;
}

.copyright-links a {
  color: #222222;
}

.email-link {
  color: #294a5d;
  font-size: 16px;
  font-style: normal;
  line-height: 72px;
  text-decoration-line: underline;
}

.address-box {
  display: flex;
  align-items: flex-start;
  /* gap: 16px; */
  align-self: stretch;
}

.team-picture-placeholder {
  display: flex;
  width: 1120px;
  height: 357px;
  /* padding: 108px 109px; */
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  background: #b6b6b6;
  margin-top: 25px;
  background-image: url("../images/About\ Us.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;

  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
.content-box {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid grey;
}

@media screen and (max-width: 768px) {
  .content-box {
    flex-wrap: wrap;
  }

  .certification-card {
    flex-wrap: wrap;
  }

  .career-card {
    flex-wrap: wrap !important;
  }

  .content-box h2,
  .awards-section h2,
  .certification-section h2,
  .career-title {
    font-size: 32px !important;
  }

  .gaps {
    gap: 16px;
  }

  .copyright {
    /* font-size: 10px; */
    padding: 15px 20px !important;
  }

  .copyright-links {
    flex-wrap: wrap;
    gap: 0 !important;
  }

  .gaps2 {
    gap: 30px;
    font-size: 10px !important;
  }

  .award-card {
    /* width: 100% !important; */
    margin-left: 15px;
  }
}
.content-box h2 {
  width: 300px;
  color: #151515;
  font-family: "Nanum Myeongjo", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 150% */
  flex: none;
}

.content-box p {
  color: rgba(0, 0, 0, 0.6);

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.awards-section {
  padding: 40px 0;
}

.awards-section h2 {
  color: #151515;
  font-family: "Nanum Myeongjo", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 150% */
}
.award-card {
  display: flex;
  padding: 24px 32px 24px 24px;
  align-items: center;
  gap: 32px;
  /* flex: 1 0 0; */
  border-radius: 20px;
  background: #294a5d;
  width: 552px;
}

.award-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.award-image-placeholder {
  min-width: 140px;
  height: 160px;
  border-radius: 8px;
  background: #c4c4c4;
}

.award-image-placeholder img {
  border-radius: 8px;
}

.award-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Nanum Myeongjo", serif;
}
.award-description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.certification-section {
  padding: 40px 0;
  background: #e0ecef;
}

.certification-section h2 {
  color: #151515;
  font-family: "Nanum Myeongjo", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 150% */
  text-align: start;
}
.certification-card {
  display: flex;
  padding: 24px 24px 24px 24px;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 20px;
  background: white;
}

.certification-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.certification-image-placeholder {
  background-color: white;
  min-width: 140px;
  height: 150px;
  border-radius: 8px;
}

.half {
  width: 50% !important;
}

.font-nunum {
  font-family: "Nanum Myeongjo", serif;
}
.certification-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Nanum Myeongjo", serif;
}
.certification-description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.career-section {
  padding: 40px 0;
}

.career-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  flex-wrap: nowrap;
}

.career-box {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;

  background: #fff;
}
.career-image-placeholder {
  display: flex;
  padding: 108px 109px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  background: #b6b6b6;
  min-width: 280px;
  background-image: url("../images/medical-team.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.career-image-placeholder img {
  border-radius: 20px;
}
.career-title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Nanum Myeongjo", serif;
}
.career-description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.footer-title {
  color: #294a5d;
}
